{% extends 'base.html' %}
{% block content_expanded %}

<h4 class="grey-text text-darken-2">Here's what I think about this project, myself, and my project guide:</h4>
    <br/>
    <div class="card">
     <div class="row">
        <div class="col s12 m12 l12">
            <a href="http://facebook.com/vishalvatnani">
                <div class="col s12 m5 l5">
                    <div class="card">
          <div class="card-image">
              <img src="{{ url_for('static',filename='me_on_flask.JPG')}}">
                </div>
                    </div>
           </div>
          <div class="col s12 m7 l7 ">
          <div class="card-content  grey-text text-darken-2">
              <div class="card-title">Vishal Vatnani</div>
              I have always believed in keeping things simple. Simplicity is the greatest virtue.
              But do not misunderstand it with naivety. There is only a subtle distinction between things getting simple
              and things becoming naive. It takes a heart to discern this difference and rejoice with the existence itself,
              for the Universe knows that what you have created is not a GTU final year project. It is pure energy.
              Your project then becomes your own consciousness, and there should be nobody to force you with what it should be like.
              Many professors have taken a look at my project. Most of them failed to understand what I was doing. For a simple reason,
              that this project is simple. Often it is for the simple things that we try to find complications in simplicity.
          </div>
          </div>

            </a>
        </div>
    </div>
    </div>

      <div class="card">
     <div class="row">
        <div class="col s12 m12 l12">
            <a href="#">
                <div class="col s12 m5 l5">
                    <div class="card">
          <div class="card-image">
              <img src="{{ url_for('static',filename='jay_mehta.jpg')}}">
                </div>
                    </div>
           </div>
          <div class="col s12 m7 l7 ">
          <div class="card-content  grey-text text-darken-2">
              <div class="card-title">Jay Mehta</div>
             Professor Jay has been my project guide and a friend. Freedom is what I expected from this project, and that's exactly what he gave me.
              It doesn't matter what subject a teacher teaches you. A guide may or may not be interested in your project, because
              the guides are simply not obligated to do anything according to the system of GTU.
              However, unlike other people, Professor Jay has been more of a friend to me than a guide. His flexibility with my schedule has amazed me.
              I can do whatever I want with this project, and he always seems to be constantly excited about it. There is no reason
              why he wouldn't deserve a mention here.
          </div>
          </div>

            </a>
        </div>
    </div>
    </div>




      <div class="card">
     <div class="row">
        <div class="col s12 m12 l12">
            <a href="#">
                <div class="col s12 m5 l5">
                    <div class="card">
          <div class="card-image">
              <img src="{{ url_for('static',filename='taher.jpg')}}">
                </div>
                    </div>
           </div>
          <div class="col s12 m7 l7 ">
          <div class="card-content  grey-text text-darken-2">
              <div class="card-title">Taher Angel</div>
             I’ am like an Angel, … Mankind’s Angel

My heart is like a rose, … mankind’s soul

Dearest creation, by God

Heaven on earth, mankind’s Angel

Lonely for you, like an Angel

Your love is, my true Angel

Without you I always, live alone

As the heart beats, without a soul

I fall in love with you, always….

Like Angels, love other Angels
          </div>
          </div>

            </a>
        </div>
    </div>
    </div>


{% endblock %}