<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename = 'css/materialize.min.css')}}" media="screen,projection">

    <nav class="grey darken-2" role="navigation">

        <img id="logo-container" src="{{ url_for('static',filename='enso.png') }}" class="brand-logo" height="55" width="55"
        style="margin-top:0.25%;margin-left: 0.55%"/>
      <ul class="left hide-on-med-and-down">
          {% if 'user' in session %}
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="{{ url_for('index')}}">HOME</a></li>
          <li><a href="{{ url_for('analyze')}}">ANALYZE</a></li>
          <li><a href="#">LEARN MBTI</a></li>
          <li><a href="#">THE 16 PERSONALITIES</a></li>
          <li><a href="#">FAMOUS MBTI TYPES</a></li>
          <li><a href="{{ url_for('about')}}">ABOUT ME</a></li>
      </ul>

        <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
        </ul>
        {% elif 'user' not in session %}
               <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                  <li><a href="{{ url_for('login') }}">LOGIN</a></li>
              <li><a href="{{ url_for('about') }}">ABOUT ME</a></li>
        {% endif %}
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#"></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

  </nav>

    {% if not title %}
        <title>Welcome to SACA</title>
    {% else %}
        <title>{{ title }} - SACA</title>
    {% endif %}

</head>

<body>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{url_for('static',filename = 'js/materialize.min.js')}}" ></script>
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        <li>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </li>
        {% endif %}
    </ul>
    {% endwith %}
{% block content_expanded %}
{% endblock %}
</div>

</body>
</html>