{% extends "base.html" %}
{% block content_expanded %}
    {% if message %}
    <h2 class="grey-text text-darken-2">{{ message }}</h2>

        <h6 class="blue-grey-text text-darken-2">Check out what you can do today</h6>
    {% endif %}


    <div class="section">

    <br/>

      <div class="row">
        <div class="col s12 m3 l3">
            <a href="{{ url_for('analyze') }}">
            <div class="card">
          <div class="card-image">
              <img src="{{ url_for('static',filename='scientist.jpg')}}">
          <div class="card-content center grey-text">
              <strong>Analyze your students</strong>
          </div>
          </div>
            </div>
            </a>
        </div>

        <div class="col s12 m3 l3">
            <div class="card">
          <div class="card-image center">
              <img src="{{ url_for('static',filename='learn.jpg')}}">
          <div class="card-content center grey-text">
              <strong>Learn MBTI</strong>
          </div>
          </div>
            </div>
        </div>

       <div class="col s12 m3 l3">
            <div class="card">
          <div class="card-image">
              <img src="{{ url_for('static',filename='categories.jpg')}}">
          <div class="card-content center grey-text">
              <strong>The 16 personalities</strong>
          </div>
          </div>
            </div>
        </div>


        <div class="col s12 m3 l3">
            <a href="{{ url_for('analyze') }}">
            <div class="card">
          <div class="card-image">
              <img src="{{ url_for('static',filename='spotlight.jpg')}}">
          <div class="card-content center grey-text">
              <strong>Famous MBTI types</strong>
          </div>
          </div>
            </div>
            </a>
        </div>
    </div>
    <br><br>
    </div>

{% endblock %}

