{% extends "base.html" %}
{% block content_expanded %}
    {% if message %}
    <h2>{{ message }}</h2>
    {% endif %}
<h3>Posts:</h3>
{% for post in post1 %}
<div><p>{{ post.author.nickname }}</p></div>
<div><p>{{ post.body.post_title }}</p></div>
{% endfor %}
<h3>Users:</h3>
    {% for user in users %}
    <div><p><b>ID: {{ user.id }}</b></p></div>
    <div><p><b>USER NAME:</b> {{ user.username }}</p></div>
    <div><p><b>E-mail: </b>{{ user.email }}</p></div>
    <div><p><b>Password</b>: {{ user.password }}</p></div>
        <div>
        <b>Department:</b>
        {{ basic.query.get(user.id).department }}
        </div>
        <div>
        <p>
        <b>Fav subjects:</b>
            {{basic.query.get(user.id).fav_subjects}}
        </p>
        </div>
    {% endfor %}
{% endblock %}

